version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: docker build --tag  because-i-am-hapi .
      - run: |
          docker run -d -p 3000:3000 --name because-i-am-hapi because-i-am-hapi
          docker exec because-i-am-hapi curl --retry 10 --retry-connrefused http://localhost:3000
